# Byte-compiled / optimized files
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Virtual Environments
.venv
venv/
env/

# IDE configuration
.vscode/
.idea/

# Generated output files from the application
legal_doc_creator/output/
legal_doc_creator/legal_doc_creator/
